/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.left-col {
    float: left;
    margin-top: 80px;
    border: 2px solid green;
}

.right-col {
    margin-top: 50px;
    float: right;
    border: 2px solid red;  
}

.right-col .sign-up-cards {
    margin: 50px;
    height: 480px;
    width: 350px;
}

.brand {
    margin-left: 80px;
    height: 60px;
    width: 200px;
}