/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
a {
    text-decoration: none;
}

body {
    font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #fafafa;
}

.left-col {
    float: left;
    margin-top: 80px;
}

.mobile-img {
    position: absolute;
    margin: 5px 250px;

}

.right-col {
    float: right;
}

.right-col .sign-up-card {
    background-color: #fff;
    padding: 20px;
    margin: 45px 270px 0 0;
    height: 475px;
    width: 300px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.brand {
    margin: 5px 0 -15px 50px;
    height: 50px;
    width: 200px;
}

.sign-up-card h3 {
    font-size: 17px;
    text-align: center;
    color: #999;
}

.sign-up-card .btn  {
    margin-bottom: 5px;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    background-color: #3897F0;
    color: #fff;
    border-radius: 3px;
}

.sign-up-card form input {
    margin: 10px 0 0 3px;
    height: 30px;
    width: 287px;
    border-radius: 3px;
}

.sign-up-card .copy {
    font-size: 14px;
    text-align: center;
}

.right-col .log-in-card {
    background-color: #fff;
    padding: 20px;
    margin: 15px 290px 0 0;
    height: 30px;
    width: 300px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.log-in-link p {
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
    text-align: center;
}

h4 {
    color: #999;
    font-size: 14px;
    font-weight: ;
    margin: 0;
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

h4:before,
h4:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}
h4:before {
    right: 100%;
}
h4:after {
    left: 100%;
}
.container {
    overflow: hidden;
    text-align: center;
}






